#nick{
	display: none;
	width: 50%;
	margin-left: 50px;
	margin-top: 10px;
}

input:focus{
	background-color: #caf0f8;
	color: #003049;
}

input{
	margin-top: 10px;
	margin-left: 5px;	
}

fieldset{
	width: 40%;	
}
